@model List<EntityLayer.Concrete.StorageFileInfo>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/Home.css" rel="stylesheet" />


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header>
        <nav class="container-fluid shadow">
            <div class="row mb-1 border-bottom p-1 " style="align-items:center;">
                <div class="col-md-3"><img class="img-fluid px-1" src="~/images/logo.svg" style="height:2rem;" /><span style="font-size:2rem; vertical-align:middle;  color:dodgerblue">SafeBox</span></div>
                <div class="col-md-6">
                    <div class="search">
                        <i class="fas fa-search"></i><input onchange="filterFiles()" id="filterInput" type="text" class="form-control" placeholder="Search in your SafeBox..."> <button class="btn btn-outline-primary">Search</button>
                    </div>
                </div>

                <div class="col-md-3 d-flex p-0">
                    <div class="row d-flex justify-content-end col-md-12">
                        <div class="profil">
                           
                            <a href="/Login/Index/"> <big><big><i style="color:red" class="fas fa-user-circle"></i></big></big></a>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        <div class="row g-0">

            <div class="col-2 border vh-100 p-0" style="background-color:white;">


                <div class="pt-2">

                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My SafeBox</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                    </div>
                </div>



                <!-- Showing how much space used by user with circle progressbar-->
                <div class="mx-2" style="position:absolute; bottom:100px;">
                    <div class="">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: @((int)(ViewBag.user.TotalSpaceUsed / 5120))%;color:green" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@((int)(ViewBag.user.TotalSpaceUsed / 5120))%</div>
                        </div>
                    </div>
                    <div>
                        You spend @ViewBag.user.TotalSpaceUsed mb / 5GB
                        in your free SafeBox Storage
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="container">
                    
                    <form asp-controller="Home" asp-action="UploadFile" method="post"
                          enctype="multipart/form-data">
                        <div class="row ">
                            <input class="form-control custom-file col-10" type="file" name="file" />
                            <button class="btn btn-success col-2" type="submit">Upload File</button>
                        </div>
                    </form>
                    

                    <!-- File presentation area-->
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div id="filesArea" class="container container-fluid bg-light mt-3">
                                @await Html.PartialAsync("GetFilesPartial", (List<EntityLayer.Concrete.StorageFileInfo>)Model)
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                            @await Html.PartialAsync("ProfilePartial", (EntityLayer.Concrete.User)ViewBag.user)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>


<script>

    function filterFiles() {
        var filterText = $('#filterInput').val();
        $.post('/Home/GetFilesPartial?filter=' + filterText).then(
            function (result) {
                $('#filesArea').html(result);
            }
        );
    }


</script>
