@model User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/Home.css" />


    <style>
        #mainArea {
            margin-left: 70px;
        }


        /* single-bar Button */

        .dropbtn {
            /*background-color: #04AA6D;*/
            color: white;
            /*padding: 16px;
                                                                                    font-size: 16px;*/
            border: none;
        }
        /* The container <div> - needed to position the single-bar content */

        .single-bar {
            position: relative;
            display: inline-block;
            margin-right: 0;
            margin-left: 0;
        }
        /* single-bar Content (Hidden by Default) */

        .single-bar-content {
            display: none;
            position: absolute;
            right: 0px;
            background-color: #212121;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }
            /* Links inside the single-bar */

            .single-bar-content a {
                color: #999;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
                /* Change color of single-bar links on hover */

                .single-bar-content a:hover {
                    color: #fff;
                    background-color: #5fa2db;
                }
        /* Show the single-bar menu on hover */

        .single-bar:hover .single-bar-content {
            display: block;
        }
        /* Change the background color of the single-bar button when the single-bar content is shown */

        .single-bar:hover .fa-user-circle {
            /*background-color: dodgerblue;*/
        }

    </style>

</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="container-fluid shadow">
            <div class="row mb-1 border-bottom ">
                <div class="col-sm-3 col-6">
                    <a class="d-flex flex-row" asp-action="Index" asp-controller="Home">

                        <img class="px-1" src="~/images/logo.svg" />
                        <span style="font-size:2em; color:dodgerblue;">
                            SafeBox
                        </span>

                    </a>
                </div>

                <div class="col-sm-6">
                    <div class="search">
                        <i class="fas fa-search"></i>
                        <input onchange="filterFiles()" id="filterInput" type="text" class="form-control" placeholder="Search in your SafeBox...">
                        <button>Search</button>
                    </div>
                </div>

                <div class="col-sm-3 col-6">
                    <div class=" d-flex justify-content-end">
                        <div class="single-bar">

                            <div class="dropbtn">
                                <big>
                                    <big>
                                        <i style="color:red"
                                           class="fas fa-user-circle">
                                        </i>
                                    </big>
                                </big>
                            </div>
                            <div class="single-bar-content">

                                <a onclick="changeTab('profile') " href="#">Profile</a>
                                <a href="/Login/LogOut/">Log Out</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container-fluid p-0 g-0 ancestorDiv">


        <!-- Sidebar -->
        @await Html.PartialAsync("SideMenuBarPartial")



        <div id="mainArea">
            <form asp-controller="File" asp-action="UploadFile" method="post" id="fileForm"
                  enctype="multipart/form-data">

                <div class="input-group">
                    <div class="custom-file is-invalid">
                        <input type="file" name="file" class="custom-file-input" id="validatedInputGroupCustomFile" required>
                        <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit" style="white-space:nowrap;">Upload File</button>
                    </div>
                </div>
            </form>


            <!-- File presentation area-->
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div id="noFile" class="alert alert-danger text-center m-3" style="display:none;">There is no file...</div>

                    <div id="filesArea" class="container-fluid bg-light mt-3 p-0 g-0">
                        @*@await Html.PartialAsync("GetFilesPartial", (List<EntityLayer.Concrete.StorageFileInfo>)Model)*@
                        <div style="height:80vh;display:flex;">
                            <div class="spinner-border" style="margin:  auto;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                    @await Html.PartialAsync("ProfilePartial", Model)
                </div>
            </div>
        </div>



    </main>
</body>
</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>


    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("validatedInputGroupCustomFile").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })

    $.get('/File/GetFilesPartial/').then(
        function (result) {
            $('#filesArea').html(result);
            files = result;
            filterFiles();
        }
    );


    document.querySelector('#filterInput').addEventListener('keyup', function (e) {
        filterFiles();
    });


    function filterFiles() {
        var tab = $("#fileForm").css("display");
        if (tab == "none")
            return;

        var filterText = $('#filterInput').val();

        var items = document.querySelectorAll('.fileItem');
        let showedItemCount = 0;
        items.forEach(function (item) {
            if (item.innerText.toLowerCase().includes(filterText.toLowerCase())) {
                // item.style.display = "block";
                item.classList.remove("d-none");
                showedItemCount++;
            }
            else {
                // item.style.display = "none";
                item.classList.add("d-none");
            }
        });
        console.log("showedItemCount: " + showedItemCount);
        if (showedItemCount < 1) {
            $("#noFile").css("display", "block");

        } else {
            $("#noFile").css("display", "none");

        }

        // $.post('/File/GetFilesPartial?filter=' + filterText).then(
        //     function (result) {
        //         $('#filesArea').html(result);
        //         files = result;
        //     }
        // );
    }
    var files;
    $.get('/File/GetFilesPartial/').then(
        function (result) {
            files = result;
        }
    );

    var profile;
    $.get('/Profile/ProfilePartial/').then(
        function (result) {
            profile = result;
        }
    );


    function changeTab(tabName) {
        switch (tabName) {
            case "profile":
                $.get('/Profile/ProfilePartial/').then(
                    function (result) {
                        $('#filesArea').html(result);
                        $("#fileForm").css("display", "none");
                        $("#noFile").css("display", "none");
                    }
                );
                
                changeActiveMenu("sideMenu2");
                break;
            case "home":

                $('#filesArea').html(files);
                $("#fileForm").css("display", "block");
                filterFiles();

                break;
            default:
                break;
        }
    }

    function changeActiveMenu(menuId) {
        $("li[class='active']").removeClass('active').addClass('has-subnav');
        $("#" + menuId).addClass('active').removeClass('has-subnav');
    }

</script>
